<!doctype html>
<html class="no-js" {% if section %} data-current="{{ section }}"{% endif %} lang="dk">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <link rel="stylesheet" href="/_includes/assets/css/app.css">
  <link rel="stylesheet" href="/_includes/assets/css/theme.css">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://unpkg.com/lunr@2.3.8/lunr.js"></script>
  <script async src="/_includes/assets/js/app.js"></script>
</head>

<body class="class">
	<header>
    <a class="logo" href="{{ '/' | url }}">{{ metadata.title }}</a>
    <form id="searchform" class="searchform" role="search" action="/data.json">
      <label for="searchfield" class="visually-hidden">Fuldtekstsøg i alle dokumenter</label>
      <input id="searchfield" name="q" type="search" placeholder="Søg i dokumentationen..." autocomplete="off" autocapitalize="none" aria-describedby="search-hints"/>
      <button type='submit' class='visually-hidden'>Søg</button>
      <!-- Dynamically update number of searchresults. Only for SRs and only with js -->
      <div id="searchresults-number" aria-live="polite" role="status" class="visually-hidden js-only"></div>
      <div id="searchcontent">
        <!-- Display search-hints when input-field is focused, but without value -->
        <ul id="search-hints">
          <li>Brug feltnavn og kolon foran et søgeord for at søge spedifikt i det navngivne felt, eks. titel:bil</li>
          <li>Brug '*' for at søge efter alle endelser af et ord, eks. bil*</li>
        </ul>
        <!-- Display searchresults when input-field is focused and with value -->
        <ul id="searchresults" class="js-only" role="listbox"></ul>
      </div>
    </form>
    <button class="menu" type="button">Menu</button>
	</header>

	<main class="main">
      {% macro renderNavListItem(entry) -%}
        <li class="nav-listitem{% if entry.url == page.url %} current-listitem{% endif %}">
          <a class="nav-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
        {%- if entry.children.length -%}
          <ul class="nav-sublist">
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
          </ul>
        {%- endif -%}
        </li>
      {%- endmacro %}

      {% set navPages = collections.all | eleventyNavigation %}
      <nav class="nav" aria-labelledby="nav-label">
        <span id="nav-label" hidden>Dokumentationsportalens hovednavigation</span>
        <button type="button" class="nav-button" aria-expanded="false" aria-controls="nav-list">Navigation</button>
        <ul id="nav-list" class="nav-list">
          {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
      </nav>

      <div class="content">
        {{ layoutContent | safe }}
      </div>
  </main>

	<footer>
    Footer
  </footer>

</body>
</html>
